.nav {
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: center;

    &__item {
        color: $font-color-primary;
        font-size: $font-size-nav;
        text-decoration: none;
        position: relative;
        padding: 0 1rem;
        &:hover {
            color: $color-secondary;
            animation: toTop 1s infinite;
        }
    }
}