#clientes {
    background: $font-color-primary;
    &:hover{
        animation: slide;
        animation-duration: 5s;
    }
}

.steps {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

    &__item {
        margin: 1rem;
        width: calc(80% / 5 - 1rem);
        text-align: center;
    }

}